# HODIFLY / PRODUCTION
# Si le frontend est https://lien.de.frontend, utilisez :
VITE_API_URL=https://api.lien.de.frontend

# LOCAL (optionnel) : l'application détecte automatiquement localhost/IP et utilise le port 5000.
# VITE_API_URL=http://localhost:5000
